<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = ".::. Data Mercaderista .::.";
      //Layout = null;
    }
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="Pages/Modulos/Cliente/imgs/lucky.ico" />
    <link href="@Url.Content("~/Content/sistema.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/extJS/resources/css/ext-all-gray.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Ecu_Reportes.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/extJS/ext-all.js")" type="text/javascript"></script>
    


    <script type="text/javascript">

        /************* iniico para statusbar  *****************/
        Ext.Loader.setConfig({
            enabled: true
        });

        Ext.Loader.setPath('Ext.ux', '/Script/extJS/ux/');

        //    Ext.require([
        //      'Ext.ux.statusbar.StatusBar',
        //      'Ext.toolbar.TextItem',
        //    ]);
        //    /************* fin para statusbar *****************/

        function confirmarCerrar() {
            Ext.MessageBox.confirm('Confirmar', '¿Seguro que desea cerrar sesión?', cerrarSesion);
        }
        function cerrarSesion(btn) {
            if (btn == 'yes') {
                var url = '/Home/Logout';
                window.location = url;
            }
        }

        Ext.onReady(function () {
            ///////////////// MENU ////////////////////////////////////////////////////
            function Capitalize(word) {
                var txt = word;
                word = txt.substring(0, 1).toUpperCase() + txt.substring(1, txt.length);
                return word;
            }

            Ext.define('Menu', {
                extend: 'Ext.data.Model',
                fields: ['id', 'text', 'leaf', 'parent_id', 'icon', 'hrefTarget', 'expanded']
            });

            //     var treestore = Ext.create('Ext.data.TreeStore', {
            //         proxy: {
            //             type: 'ajax',
            //             url: '/Home/Listar_Menu?idcompania=@ViewBag.idcompania'
            //         },
            //         root: {
            //             text: 'Ext JS',
            //             id: 'src',
            //             expanded: true
            //         },
            //         folderSort: true,
            //         sorters: [{
            //             property: 'text',
            //             direction: 'ASC'
            //         }]
            //     });

            var treestore = Ext.create('Ext.data.TreeStore', {
                model: 'menu',
                autoLoad: true,
                proxy: {
                    type: 'ajax',
                    url: '/Home/Listar_Menu2?idcompania=@ViewBag.idcompania&canal=@ViewBag.canal&modulo=01', //modificacion
                    node: 'id', // send the parent id through GET (default 0)
                    reader: {
                        type: 'json',
                        root: 'a'
                    }
                }
            });
            ///////////////////////////////////////////////////////////////////////////
            //Controla tiempo para cargar la interfaz y desaperecer icono que carga
            Ext.QuickTips.init();
            //Cargando
            //    setTimeout(function(){
            //		Ext.get('loading').remove();
            //        Ext.get('loading-mask').fadeOut({remove:true});
            //    }, 250);
            ////////////////////// agregando un tabpanel de inicio //////////////////////////////////////
            var home = new Ext.Panel({
                title: "Home",
                height: 600,
                icon: '/Content/images/icons/inicio.png',
                //html: 'Bienvenido'
                html: '<iframe id="frame-welcome" src="/Home/Bienvenido" border="0"  STYLE="border:0;top:0px; left:0px;width:100%; height:100%;BACKGROUND-COLOR: #FFFFFF;OVERFLOW: visible; position:absolute;" ></iframe>'
            });
            //ponemos el tab en una barra para ponerlo en algun lado

            this.tabs = new Ext.TabPanel({
                id: 'mainpanel',
                border: false,
                activeTab: 0,
                height: 600,
                enableTabScroll: true, //hacemos que sean recorridas
                items: [home]
            });

            //////////////////////////////////////////////////////////////////////////////////////////
            var clock = Ext.create('Ext.toolbar.TextItem', { text: Ext.Date.format(new Date(), 'g:i:s A') })

            //datosUsuario();

            Ext.create('Ext.container.Viewport', {
                layout: 'border',
                items: [
                                Ext.create('Ext.Component', {
                                    region: 'north',
                                    height: 65, 
                                    autoEl: {
                                        tag: 'div',
                                        // html: '<div class="cls_cab_ecu_rep" ><b class="cab01">Xplora</b> <b class="cab02">DATAMERCADERISTA</b></div>'
                                        html: '<div class="cls_content_cab_ecu_rep"><a href="javascript:window.history.back();" title="Volver atras" ><img src="/Content/images/cabecera03.png" class="cls_imgCab_ecu_rep" ></a><div class="cls_cabText_ecu_rep" ><img src="/Content/images/logo_cab.png" class="cls_imgCab02_ecu_rep" >DATAMERCADERISTA</div></div>'
                                    }
                                })
                    /*{
                    region: 'north',
                    collapsible: false,
                    //split: true,
                    html: "<div id='dv_cab_titulo' style='font-weight:bold;'>Xplora DATAMERCADERISTA</div>",
                    autoHeight: true,
                    //height: 50,
                    border: false,
                    margins: '0 0 5 0'
                    ,title: 'Xplora DATAMERCADERISTA'
                }*/, {
                    region: 'west',
                    collapsible: true,
                    title: 'Menu',
                    //width: 230,
                    width: 200,
                    split: true,
                    //Insertamos un panel tipo acordion para los menues
                    xtype: 'treepanel',
                    store: treestore,
                    rootVisible: false,
                    border: 0,
                    //width: 200,
                    autoScroll: true,
                    //height: 620,
                    listeners: {
                        itemclick: function (selModel, record) {
                            if (record.get('leaf')) {//Si es TRUE = Submenu
                                var id_tab = record.get('id');
                                var title_tab = Capitalize(record.get('text'));
                                var YourTabPanel = Ext.getCmp('mainpanel');
                                var TabToCheck = Ext.getCmp(id_tab);
                                if (TabToCheck) { //Si ya esta abierto, lo activamos
                                    YourTabPanel.setActiveTab(id_tab);
                                } else { //Si no lo creamos
                                    YourTabPanel.add({
                                        icon: record.get('icon'),
                                        id: id_tab,
                                        xtype: 'panel',
                                        region: 'center',
                                        title: title_tab,
                                        plain: true,
                                        frame: false,
                                        region: 'center',
                                        closable: true,
                                        autoScroll: true,
                                        layout: 'fit',
                                        html: '<IFRAME FRAMEBORDER="0" NAME="Ifr" ID="Ifr" src="' + record.get('hrefTarget') + '" STYLE="top:0px; left:0px;width:100%; height:100%;BACKGROUND-COLOR: #FFFFFF;OVERFLOW: visible; position:absolute;" SCROLLING="auto" ></IFRAME>'
                                        
                                    }).show();
                                }
                                YourTabPanel.doLayout();
                            }
                        }
                    }
                }, {
                    region: 'south',
                    height: 26,
                    bbar: new Ext.Toolbar({
                        id: 'basic-statusbar',
                       iconCls: 'an-icon',
                        items: [
			'->',
            {
               id: 'chkFrmWrkSession',
              xtype: 'button',
             iconCls: 'x-icon-cerrar-sesion',
             text: '<b>Cerrar Sesión</b>',
             listeners: {
                    'click': function (scope, valor) {
                       confirmarCerrar();
                  }
                }
            },
            '<b>Cliente: </b>@ViewBag.Nombre_Cliente',
            '<b>Usuario: </b>@ViewBag.Nombre_Completo_Usuario',
			'-',
		'<b>Fecha:</b> ',
			Ext.Date.format(new Date(), 'd/n/Y')
           , '-'
            , '<b>Hora:</b>',
			clock
                       ]
                          }),
                    //////////////////////////////////////
                      listeners: {
                        render: {
                           fn: function () {
                               Ext.fly(clock.getEl().parent()).addCls('x-status-text-panel').createChild({ cls: 'spacer' });
                               Ext.TaskManager.start({
                                   run: function () {
                                       Ext.fly(clock.getEl()).update(Ext.Date.format(new Date(), 'g:i:s A'));
                                  },
                                   interval: 1000
                               });
                           },
                           delay: 100
                       }
                   }
                 },
	{
	    region: 'center',
	    xtype: 'panel', // TabPanel itself has no title
	    layout: "fit",
	    border: false,
	    margins: { bottom: 3, right: 3 },
	    //activeTab: 0,      // activo por defecto el primer Tab
	    //html:'Mas informacion del sistema',
	    items: [{
	        xtype: "panel",
	        region: "center",
	        items: [this.tabs]//<--- dentro de la región central normalmente va el contenido principal, así que poner ahi los tabs tiene mucho sentido.
	    }]
	}]
            });
        });
    </script>
</head>
<body>
    <div id="dv_modal_home">
    </div>
    @RenderBody()
</body>
</html>



@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="Pages/Modulos/Cliente/imgs/lucky.ico" />
    <link href="@Url.Content("~/Content/sistema.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/extJS/resources/css/ext-all-gray.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/extJS/ext-all.js")" type="text/javascript"></script>
    <script type="text/javascript">

        /************* iniico para statusbar  *****************/
        Ext.Loader.setConfig({
            enabled: true
        });

        Ext.Loader.setPath('Ext.ux', '/Script/extJS/ux/');

        //    Ext.require([
        //      'Ext.ux.statusbar.StatusBar',
        //      'Ext.toolbar.TextItem',
        //    ]);
        //    /************* fin para statusbar *****************/

        function confirmarCerrar() {
            Ext.MessageBox.confirm('Confirmar', '¿Seguro que desea cerrar sesión?', cerrarSesion);
        }
        function cerrarSesion(btn) {
            if (btn == 'yes') {
                var url = '/Home/Logout';
                window.location = url;
            }
        }

        Ext.onReady(function () {
            ///////////////// MENU ////////////////////////////////////////////////////
            function Capitalize(word) {
                var txt = word;
                word = txt.substring(0, 1).toUpperCase() + txt.substring(1, txt.length);
                return word;
            }

            Ext.define('Menu', {
                extend: 'Ext.data.Model',
                fields: ['id', 'text', 'leaf', 'parent_id', 'icon', 'hrefTarget', 'expanded']
            });

            //     var treestore = Ext.create('Ext.data.TreeStore', {
            //         proxy: {
            //             type: 'ajax',
            //             url: '/Home/Listar_Menu?idcompania=@ViewBag.idcompania'
            //         },
            //         root: {
            //             text: 'Ext JS',
            //             id: 'src',
            //             expanded: true
            //         },
            //         folderSort: true,
            //         sorters: [{
            //             property: 'text',
            //             direction: 'ASC'
            //         }]
            //     });

            var treestore = Ext.create('Ext.data.TreeStore', {
                model: 'menu',
                autoLoad: true,
                proxy: {
                    type: 'ajax',
                    url: '/Home/Listar_Menu?idcompania=@ViewBag.idcompania&canal=@ViewBag.canal', //modificacion
                    node: 'id', // send the parent id through GET (default 0)
                    reader: {
                        type: 'json',
                        root: 'a'
                    }
                }
            });
            ///////////////////////////////////////////////////////////////////////////
            //Controla tiempo para cargar la interfaz y desaperecer icono que carga
            Ext.QuickTips.init();
            //Cargando
            //    setTimeout(function(){
            //		Ext.get('loading').remove();
            //        Ext.get('loading-mask').fadeOut({remove:true});
            //    }, 250);
            ////////////////////// agregando un tabpanel de inicio //////////////////////////////////////
            var home = new Ext.Panel({
                title: "Home",
                height: 600,
                icon: '/Content/images/icons/inicio.png',
                //html: 'Bienvenido'
                html: '<iframe id="frame-welcome" src="/Home/Bienvenido" border="0" width="100%" height="100%" style="border:0" ></iframe>'
            });
            //ponemos el tab en una barra para ponerlo en algun lado

            this.tabs = new Ext.TabPanel({
                id: 'mainpanel',
                border: false,
                activeTab: 0,
                height: 600,
                enableTabScroll: true, //hacemos que sean recorridas
                items: [home]
            });

            //////////////////////////////////////////////////////////////////////////////////////////
            var clock = Ext.create('Ext.toolbar.TextItem', { text: Ext.Date.format(new Date(), 'g:i:s A') })

            //datosUsuario();

            Ext.create('Ext.container.Viewport', {
                layout: 'border',
                items: [{
                    region: 'north',
                    collapsible: true,
                    //split: true,
                    html: "<div id='dv_cab_titulo' ><img src='/Content/images/cabecera.png'></div>",
                    autoHeight: true,
                    height: 95,
                    border: false,
                    margins: '0 0 5 0'
                }, {
                    region: 'west',
                    collapsible: true,
                    title: 'Menu',
                    width: 230,
                    split: true,
                    //Insertamos un panel tipo acordion para los menues
                    xtype: 'treepanel',
                    store: treestore,
                    rootVisible: false,
                    border: 0,
                    //width: 200,
                    autoScroll: true,
                    //height: 620,
                    listeners: {
                        itemclick: function (selModel, record) {
                            if (record.get('leaf')) {//Si es TRUE = Submenu
                                var id_tab = record.get('id');
                                var title_tab = Capitalize(record.get('text'));
                                var YourTabPanel = Ext.getCmp('mainpanel');
                                var TabToCheck = Ext.getCmp(id_tab);
                                if (TabToCheck) { //Si ya esta abierto, lo activamos
                                    YourTabPanel.setActiveTab(id_tab);
                                } else { //Si no lo creamos
                                    YourTabPanel.add({
                                        icon: record.get('icon'),
                                        id: id_tab,
                                        xtype: 'panel',
                                        region: 'center',
                                        title: title_tab,
                                        plain: true,
                                        frame: false,
                                        region: 'center',
                                        closable: true,
                                        autoScroll: true,
                                        layout: 'fit',
                                        html: '<IFRAME FRAMEBORDER="0" NAME="Ifr" ID="Ifr" src="' + record.get('hrefTarget') + '" STYLE="top:0px; left:0px;width:100%; height:100%;BACKGROUND-COLOR: #FFFFFF;OVERFLOW: visible; position:absolute;" SCROLLING="auto" ></IFRAME>'
                                    }).show();
                                }
                                YourTabPanel.doLayout();
                            }
                        }
                    }
                }, {
                    region: 'south',
                    height: 26,
                    bbar: new Ext.Toolbar({
                        id: 'basic-statusbar',
                        iconCls: 'an-icon',
                        items: [
			'->',
            {
                id: 'chkFrmWrkSession',
                xtype: 'button',
                iconCls: 'x-icon-cerrar-sesion',
                text: '<b>Cerrar Sesión</b>',
                listeners: {
                    'click': function (scope, valor) {
                        confirmarCerrar();
                    }
                }
            },
            '<b>Cliente: </b>@ViewBag.Nombre_Cliente',
            '<b>Usuario: </b>@ViewBag.Nombre_Completo_Usuario',
			'-',
			'<b>Fecha:</b> ',
			Ext.Date.format(new Date(), 'd/n/Y')
            , '-'
            , '<b>Hora:</b>',
			clock
        ]
                    }),
                    //////////////////////////////////////
                    listeners: {
                        render: {
                            fn: function () {
                                Ext.fly(clock.getEl().parent()).addCls('x-status-text-panel').createChild({ cls: 'spacer' });
                                Ext.TaskManager.start({
                                    run: function () {
                                        Ext.fly(clock.getEl()).update(Ext.Date.format(new Date(), 'g:i:s A'));
                                    },
                                    interval: 1000
                                });
                            },
                            delay: 100
                        }
                    }
                },
	{
	    region: 'center',
	    xtype: 'panel', // TabPanel itself has no title
	    layout: "fit",
	    border: false,
	    margins: { bottom: 3, right: 3 },
	    //activeTab: 0,      // activo por defecto el primer Tab
	    //html:'Mas informacion del sistema',
	    items: [{
	        xtype: "panel",
	        region: "center",
	        items: [this.tabs]//<--- dentro de la región central normalmente va el contenido principal, así que poner ahi los tabs tiene mucho sentido.
	    }]
	}]
            });
        });
    </script>
</head>
<body>
    <div id="dv_modal_home">
    </div>
    @RenderBody()
</body>
</html>*@
